<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vip.ruoyun.googleaac">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".biometric.BiometricActivity"
            android:label="指纹">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message.MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".java.ThreeActivity" />
        <activity android:name=".java.AacActivity" />
        <activity android:name=".core.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TwoActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>


        <activity
            android:name=".biometric.BiometricPromptDemo"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".biometric.BiometricPromptDemoActivityHost"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".biometric.BiometricPromptDemoFragmentHostActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".biometric.BiometricPromptDemoBiometricBoundKeyActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".biometric.BiometricPromptDemoCredentialBoundKeyActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>